html {
  font-size: 10px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h5 {
  font-size: 0.75rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
li {
  list-style: none;
}
