*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  width: 100%;
  font-size: 0;
}
a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}