header {
  img {
    width: 100%;
    object-fit: cover;
  }
  nav {
      width: 100%;
      position: absolute;
      top: -6px;
    p {
      font-size: 1.5rem;
      color: #5271b9;
    }
    li {
      margin-right: 0.75rem;
    }
  }
}
